/* add_assessment.css */

.add-assessment-form {
    background-color: transparent; /* Makes the background transparent */
    box-shadow: none; /* Removes any box-shadow */
    max-width: 800px; /* Sets maximum width for larger screens */
    margin: 20px auto; /* Auto margins for horizontal centering */
    padding: 40px; /* Reduced padding */
    padding-top: 25px; /* Adjusted padding-top */
    border-radius: 8px;
}

.add-assessment-form label {
    display: block;
    margin-top: 10px;
}

.add-assessment-form input[type="text"],
.add-assessment-form input[type="date"],
.add-assessment-form input[type="number"],
.add-assessment-form select {
    width: 100%;
    padding: 15px; 
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    border-radius: 4px;
}

.add-assessment-form button {
    background-color: #2c3e50;
    color: white;
    padding: 15px 20px; /* Increased padding for a larger button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.add-assessment-form button:hover {
    background-color: #3498db;
}

/* Media query for devices with width up to 768px (common breakpoint for phones and smaller tablets) */
@media (max-width: 768px) {
    .add-assessment-form {
        max-width: none; /* Allows the form to take full width of the screen */
        padding: 25px; /* Suitable padding on small screens */
        padding-top: 20px; /* Adjusted padding-top for small screens */
    }

    /* You may also want to adjust font sizes for better readability on small screens */
    .add-assessment-form label,
    .add-assessment-form input,
    .add-assessment-form button {
        font-size: 16px; /* Increases the font size for better readability */
    }
}
