html, body {
    padding-top: 70px;
    height: 100%;
    margin: 0;
    background: #56CCF2; 
    font-family: Arial, sans-serif;
   
}

header, footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    flex-shrink: 0; /* Prevents header and footer from shrinking */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

header a, footer a {
    color: #3498db;
}


header {
    background-color: #2c3e50;
    color: white;
    text-align: center;

    flex-shrink: 0; /* Prevents header and footer from shrinking */
    position: fixed; /* Fixed positioning */
    top: 0; /* Align to top of the viewport */
    left: 0; /* Align to left of the viewport */
    right: 0; /* Align to right of the viewport */
    z-index: 1000; /* Ensures the header is above other content */
}

.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 10px;
}

/* Sidebar */
.sidebar {
    width: 250px; 
    height: 100vh; /* Viewport Height */
    background-color: #fff; /* White background */
    border-right: 1px solid #ececec; /* Right border */
    padding-top: 20px;
    padding-left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* subtle shadow */
    position: fixed; /* Fixed position */
    overflow-y: auto; /* Enable scroll if content is longer than the screen */
    border-top-right-radius: 8px; /* Rounded corners on the top right */
    border-bottom-right-radius: 8px; /* Rounded corners on the bottom right */
    top: 120px;
    left: -250px; /* Initially hide the sidebar */
}

.header-content {
    display: flex; /* Use flexbox to align items in a row */
    align-items: center; /* Center items vertically */
    justify-content: start; /* Align items to the start of the container */
    padding: 0 20px; /* Add some padding on the sides */
}
.content {
    transition: margin-left 0.3s; /* Smooth transition for the margin */
    margin-left: 100px;; /* Set the initial margin to 0 */
}

.sidebar.visible {
    left: 0; /* Bring the sidebar into view */
}
.content-shift {
    margin-left: 250px;
}
.sidebar ul {
    list-style-type: none;
    padding-left: 0; /* Remove default padding */
    margin-top: 0; /* Align to the top */
}

.sidebar li {
    padding: 10px 20px;
    text-align: left;
}

.sidebar li.active,
.sidebar li:hover {
    background-color: #f6f7f8; /* Light grey background */
    border-radius: 0 30px 30px 0; /* Rounded corners on the right */
    box-shadow: inset 5px 0 10px -5px rgba(0, 0, 0, 0.1); /* Inner shadow on the right */
}

.sidebar a {
    text-decoration: none;
    color: #3c4043; /* Dark grey text color for contrast */
    font-weight: 500; /* Slightly bolder font */
    font-size:1.1rem;
    display: block;
    padding:10px;
}

.sidebar .courses-heading {
    color: #5f6368; /* Darker grey text */
    padding: 15px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85em; /* Smaller font size */
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Main Content */
main {
    flex: 1;
    width: 80%;
    margin-top: 70px;
    margin: 2rem auto;
    margin-left: 250px;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius:20px;
}
/* Flash message styles */
.flash-message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.flash-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.flash-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.flash-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.btn-login, .btn-logout {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.btn-logout {
    background-color: #e74c3c;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    max-width: 400px; /* Maximum width */
    min-height: 300px; /* Minimum height */
    max-height: 400px; /* Maximum height */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px; /* Optional: for rounded corners */
   
}
.close {
    color: #aaa;
    position: absolute; /* Position it absolutely within the modal */
    top: 20px; /* Position it 20px from the top */
    right: 20px; /* Position it 20px from the right */
    font-size: 24px; /* Adjust the font size */
    cursor: pointer;
}

/* Hover effect for close button */
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
}


/* Additional styling for form elements */
input[type=text], input[type=password] {
    width: calc(100% - 10px); 
    margin: 8px 0;
  
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: calc(100% - 10px); 
    margin: 8px 0;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
   
}

input[type=submit]:hover {
    opacity: 0.8;
}

/* Style for the form labels */
label {
    margin-top:20px;
    width: 100%; /* Full width */
    text-align: left; 
    display: block; /* Make labels block level for better layout */
    margin-bottom: 5px;
}

/* Adjusting the margins and layout of the sign-up message */
.modal-content p {
    text-align: center;
    margin-top: 20px;
}

 
  .btn {
    padding: 5px 10px;
    color: #007BFF;
    background-color: transparent;
    border: 1px solid #007BFF;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.8em;
    display: inline-block; /* Ensures the button does not stretch to fill its container */
    margin-bottom: 10px; /* Provides some space between the button and the table */
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    color: #fff;
}
