
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}






.home-btn {
    color: #fff;
    text-decoration: none;
    background-color: #4CAF50;
    padding: 8px 15px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.home-btn:hover {
    background-color: #388E3C;
}

.course-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.grade {
    font-size: 32px;
    font-weight: bold;
}

.goal_reached, .goal_not_reached {
    margin-top: 10px;
    font-weight: bold;
}

.goal_reached {
    color: green;
}

.goal_not_reached {
    color: orange;
}

/* Main Content Styles */
main {
    background-color: #fff;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-separator {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    margin-top: 20px;
    margin-bottom: 20px;
}

.assessments-section {
    background-color: #fff; /* or any other color you prefer */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, and color */
    margin-top: 30px;
    margin-bottom: 30px;
}
.course-details {
    background-color: #f9f9f9; /* Light grey background */
    padding: 20px;
    border-radius: 5px;
}


.add-assessment-btn {
    padding: 5px 10px;
    color: #007BFF;
    background-color: transparent;
    border: 1px solid #007BFF;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.8em;
    display: inline-block; /* Ensures the button does not stretch to fill its container */
    margin-bottom: 10px; /* Provides some space between the button and the table */
    transition: background-color 0.3s, color 0.3s;
}

.add-assessment-btn:hover {
    background-color: #0056b3;
    color: #fff;
}
.edit-btn {
    padding: 5px 10px;
    color: #007BFF;
    background-color: transparent;
    border: 1px solid #007BFF;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.8em;
    align-self: center; /* Aligns button vertically center in flex container */
    margin-left: auto; /* Pushes the button to the right */
    transition: color 0.3s, border-color 0.3s;
}

.edit-btn:hover {
    color: #0056b3;
    border-color: #0056b3;
}
.add-btn:hover {
    background-color: #0056b3;
}

.info-container {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {

    padding: 15px 20px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.total-row {
    font-weight: bold;
}

main {
    padding: 20px 40px;
}
.info-container p {
    margin: 10px 0;
}
.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.info-item {
    display: flex;
    flex-direction: column;
}

.info-item label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #666;
}

.info-item p {
    font-size: 1.1em;
    color: #333;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}
.kebab-menu {
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
}


.dropdown-content {
    position: absolute;
    left: 155px; /* Aligns the right edge of the dropdown with the left edge of the kebab menu */
    top:40px;
    z-index: 1000; 
}


.assessment-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
tr:hover .kebab-menu {
    visibility: visible; /* or use 'opacity: 1;' */
}
.kebab-menu {
    cursor: pointer;
    visibility: hidden; 
    text-align: right; /* Align the ellipsis to the right */
    width: 30px; /* Example width; adjust as needed */

}
table {
    width: 100%;
    table-layout: fixed; /* This helps in maintaining the column widths */
    /* Other styles */
}