

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}



.courses-list h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

.courses-list ul {
    list-style-type: none;
    padding: 0;
}

.courses-list ul li {
    margin: 0.5rem 0;
}

.courses-list ul li a {
    text-decoration: none;
    color: #333;
}

.courses-list ul li a:hover {
    text-decoration: underline;
}
#user-info {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}
#user-info img {
    border-radius: 50%;
    margin-right: 10px;
}