/* Global Styles */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* User Info Styles */
#user-info {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

#user-info img {
    border-radius: 50%;
    margin-right: 10px;
}
.gpa{
    font-size: 1.7em;
    color: #004080; /* Darker shade of blue */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.dashboard-container {
    display: flex;
    justify-content: space-around; /* Aligns items to the start of the container */
    align-items: flex-start;
    gap: 20px; /* Provides space between flex items */
    padding: 0 20px; /* Padding on the sides of the container */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

/* Courses List Styles */
.courses-list {
    width: 70%; 
    box-sizing: border-box;
}

.courses-list h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}


.courses-list ul li {
    padding: 10px;
    margin-bottom: 1rem; /* Increase bottom margin to add more space between courses */
    background-color: #f8f9fa; /* Light grey background similar to the goals section */
    border: 1px solid #ddd; /* A subtle border */
    border-radius: 8px; /* Rounded corners */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A light shadow for some depth */
}

/* Adjust the last child styling to remove the bottom border */
.courses-list li:last-child {
    border-bottom: none;
}


.courses-list input[type="submit"] {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px; /* Match the border-radius of the list item */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.courses-list input[type="submit"]:hover {
    background-color: #c82333; /* A slightly darker shade when hovered */
}


.courses-list a,
.courses-list ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight:500;
    font-size:1.5rem;
    padding:30px;
}
.courses-list .btn {
    font-size: 1em; 
    padding: 10px; 
    margin-left:2rem;
}
#add-course:hover{
    background-color: #0056b3;
    color: #fff;
}

.courses-list a:hover,
.courses-list ul li a:hover {
    text-decoration: underline;
    color: #333;
}

/* Delete Button Styles */
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #dc3545; /* or any color you prefer for the icon */
    padding: 0;
    font-size: 1.2em; /* Adjust the size as needed */
    padding-right:10px;
}

.delete-btn:focus {
    outline: none;
}

.delete-btn i {
    pointer-events: none; /* Make sure the icon does not interfere with the button's click event */
}

.courses-list form {
    margin: 0;
}

.goals-wrapper {
    width: 50%; 
    display: flex;
    flex-direction: column; /* Stack the sections vertically */
    margin-right: auto; /* Center the element on the right side */
    box-sizing: border-box; /* Includes padding and border in the element's total width */
    margin-top: 0;

}

.goal-section {
    width: 100%; 
    padding: 20px;
    background-color: #f8f9fa; /* Light grey background */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    margin-top: 3.7rem;
    margin-bottom: 5rem; /* Adds margin to the bottom as well */
    box-sizing: border-box; /* Includes padding and border in the element's total width */

}

/* Style for headings inside the goal-section */
.goal-section h2 {
    color: #333;
    font-size: 1.5em;
    margin: 15px 0; /* Adds margin to the top and bottom of the headings */
}

/* Style for paragraphs and forms inside the goal-section */
.goal-section p,
.goal-section form {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.goal-section input[type="number"] {
    width: 90%; /* This will make the input take up 100% of the parent container's width */
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.goal-section input[type="submit"] {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff; /* Bootstrap primary button color */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.goal-section input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Responsive Design - Adjust as needed for smaller screens */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
        margin-top:10rem;
    }

    .courses-list,
    .goal-wrapper {
        width: 100%;
       
    }
    
}

/* Study Goals Styles */

.study-section .edit-icon {
    cursor: pointer;
    float: right; /* Position the edit icon to the right of the title */
    margin-top: 30px;
}

.study-details {
    display: block; /* This can actually be omitted as divs are block-level by default */
    margin-top: 10px;
    padding: 10px 0;

}

.study-details p {
    margin: 0; /* Remove default paragraph margin */
}

.study-details span {
    display: block; /* Makes the span a block-level element, forcing it onto a new line */
    background-color: #e7f3ff;
    padding: 15px 30px;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 10px; /* Adds some space above the span */
    text-align: center; /* Centers the text within the span */
    font-size: 1.2em;
}

.study-details:last-child {
    border-bottom: 1px solid #eee; /* A line to visually separate items */
}

.study-details > div {
    flex: 1; /* Divides the space equally between the study details */
    text-align: center;
}
/* for edit icon and title */
.goal-header {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between the h2 and the icon */
}
/* only show edit button if hovering */
/* .goal-header #edit-btn {
    visibility: hidden; 
    opacity: 0;
}

.goal-header:hover #edit-btn {
    visibility: visible; 
    color:#666;
    opacity: 1;
} */

hr {
    margin-bottom: 20px; /* Adjust the value as needed */
}