@import url("base.css");

body {
    margin: 0;
    padding: 0;
    background: #56CCF2; 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
html {
    scroll-behavior: smooth;
}


.button-container {
    flex-grow: 1; /* Allows button container to grow and take up available space */
    display: flex; /* Makes button container a flex container */
    align-items: center; /* Centers button vertically */
    justify-content: center; /* Centers button horizontally */
}

.explore-button {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    padding: 25px 50px;
    text-decoration: none;
    border-radius: 16px;
    background-color: #fff;
    color: #56CCF2;
    cursor: pointer;
    transition: all 0.3s ease; /* Transition for the shadow and transform */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
    text-shadow: 1px 1px 0px #fff; /* Optional: subtle text shadow for depth */
}

.explore-button:hover {
    background-color: #ececec; /* Slight background color change on hover */
    transform: translateY(-2px); /* Moves the button up a bit */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Reduces shadow for pressed effect */
}
