{% extends 'base.html' %}

{% block header %}{{ action }} Assessment{% endblock %}

{% block stylesheets %}
    <!-- Styles specific to the add/edit assessment page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_assessment.css') }}">
{% endblock %}

{% block content %}
    <section class="add-assessment-form">
        <form action="{% if action == 'Add' %}{{ url_for('add_assessment', course_id=course_id) }}{% else %}{{ url_for('edit_assessment', course_id=course.id, assessment_id=assessment.id) }}{% endif %}" method="post">
            <div class="form-group">
                <label for="name">Assessment Name:</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ assessment.name if assessment and action == 'Edit' else (session['form_data']['name'] if 'form_data' in session and 'name' in session['form_data'] else '') }}" required>
            </div>
            
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" class="form-control" value="{{ assessment.date.strftime('%Y-%m-%d') if assessment and action == 'Edit' else (session['form_data']['date'] if 'form_data' in session and 'date' in session['form_data'] else '') }}" required>
            </div>
            <div class="form-group">
                <label for="earned">Earned Marks:</label>
                <input type="number" id="earned" name="earned" step=0.1 class="form-control" value="{% if assessment and assessment.weight and action == 'Edit' %}{{ assessment.original_earned }}{% elif assessment and action == 'Edit' %}{{ assessment.earned }}{% else %}{{ session['form_data']['earned'] if 'form_data' in session and 'earned' in session['form_data'] else '' }}{% endif %}" required>
            </div>

            <div class="form-group">
                <label for="total">Total Marks:</label>
                <input type="number" id="total" name="total" step=0.1 class="form-control" value="{% if assessment and assessment.weight and action == 'Edit' %}{{ assessment.original_total }}{% elif assessment and action == 'Edit' %}{{ assessment.total }}{% else %}{{ session['form_data']['total'] if 'form_data' in session and 'total' in session['form_data'] else '' }}{% endif %}" required>
            </div>

            <div class="form-group">
                <label for="isFinal">Final Assessment?</label>
                <select id="isFinal" name="isFinal" class="form-control" onchange="showHideWeightInput()">
                    <option value="no" {% if not (assessment and assessment.weight) %}selected{% endif %}>No</option>
                    <option value="yes" {% if assessment and assessment.weight %}selected{% endif %}>Yes</option>
                </select>
            </div>
            <div class="form-group" id="weightInput" style="{{ 'display:block;' if assessment and assessment.weight else 'display:none;' }}">
                <label for="weight">Weight (%):</label>
                <input type="number" step="0.1" placeholder="Enter weight in percent" id="weight" name="weight" class="form-control" min="0" max="100" value="{{ assessment.weight*100 if assessment and assessment.weight and action == 'Edit' else (session['form_data']['weight']*100 if 'form_data' in session and 'weight' in session['form_data'] else '') }}" >
            </div>

            <button type="submit" class="btn btn-primary">{{ action }} Assessment</button>
        </form>
    </section>
    <script>
        function showHideWeightInput() {
            var isFinal = document.getElementById("isFinal").value;
            var weightInput = document.getElementById("weightInput");
            if (isFinal === "yes") {
                weightInput.style.display = "block";
            } else {
                weightInput.style.display = "none";
            }
        }
    </script>
    
{% endblock %}
