

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block stylesheets %}{% endblock %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

   
</head>
<body>
    <header>
        <div class="header-content">
            
            <div class="hamburger" onclick="toggleSidebar()">
                &#9776; <!-- Unicode character for hamburger icon -->
            </div>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Grade Genius Logo" style="height:50px; border-radius:5px;margin-right: 20px;"> <!-- Adjust path and style as needed -->

            <h1>{% block header %}{% endblock %}</h1>

        </div>
        <div id="user-info" style="position: absolute; right: 20px; top: 20px;" onclick="toggleDropdown()">
          {% if user %}
              <!-- Profile Picture with onClick event to toggle dropdown -->
              <div style="text-align: center;" >
                <img src="{{ url_for('static',filename='images/profile_pic.png') }}" alt="{{ user.username }}" width="50" height="50" style="display: block; margin: auto;">
                <span style="display: block;">{{ user.username }}</span>
             </div>
             
                <!-- Dropdown Menu -->
                <div id="profile-dropdown" class="dropdown-content">
                  <form action="/delete-account" method="post" onsubmit="return confirm('Are you sure you want to delete your account? This cannot be undone.');">
                      <button type="submit" style="color:red; font-weight:500" class="dropdown-item">Delete Account</button>
                  </form>
                  <a href="{{ url_for('logout') }}" class="dropdown-item">Logout</a>
              </div>
          {% else %}
              <a href="{{ url_for('signup') }}" id='login-btn' >Login / Signup</a>
          {% endif %}
      </div>
      <hr>
        
    </header>
    
    <aside class="sidebar">
        <!-- Sidebar content -->
        <ul>
            <li class="{% if request.endpoint == 'dashboard' %}active{% endif %}"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li class="{% if request.endpoint == 'community' %}active{% endif %}"><a href="{{ url_for('community') }}">Community Notes</a></li>
            <hr>
            <li class="courses-heading">Courses</li>
            {% for course in courses %}
                <li><a href="{{ url_for('course_details', course_id=course.id) }}">{{ course['name'] }}</a></li>
            {% endfor %}
        </ul>
    </aside>
    <div id="signupModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Sign Up for Free!</h2>
        <form action="/signup" method="post">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
    
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>

          <label for="password-confirm">Password:</label>
          <input type="password" id="password-confirm" name="password-confirm" required>
    
          <input type="submit" value="Sign Up">
        </form>
        <p>Already have an account? <a href="/login">Log in here</a>.</p>
      </div>
    </div>
  
    <main class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if message != 'signup_prompt' %}
                    <div class="flash-message flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}   
    </main>
 <footer>         
  <p>&copy; 2023 Grade Genuis. All rights reserved. Made by Joshua Chou.</p>
 </footer>

    <script>
        function toggleSidebar() {
    var sidebar = document.querySelector('.sidebar');
    var content = document.querySelector('.content');
    sidebar.classList.toggle('visible');
    content.classList.toggle('content-shift');
}
    </script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if message == 'signup_prompt' %}
          <script type="text/javascript">
            // JavaScript to open the signup modal
            window.onload = function() {
              // Code to trigger the modal popup
              var signupModal = document.getElementById('signupModal');
              signupModal.style.display = 'block';
            }
          </script>
        {% endif %}
      
      {% endfor %}
    {% endif %}
  {% endwith %}

<script>
  
  // When the user clicks on <span> (x), close the modal
// Close the modal with the 'close' button
var spans = document.getElementsByClassName("close");
for (var i = 0; i < spans.length; i++) {
  spans[i].onclick = function() {
    var modals = document.getElementsByClassName('modal');
    for (var j = 0; j < modals.length; j++) {
      modals[j].style.display = "none";
    }
  }
}

// Close the modal by clicking outside of it
window.addEventListener('click', function(event) {
  var modals = document.getElementsByClassName('modal');
  for (var i = 0; i < modals.length; i++) {
    if (event.target == modals[i]) {
      modals[i].style.display = "none";
    }
  }
});



   function toggleDropdown() {
      var dropdown = document.getElementById("profile-dropdown");
      dropdown.style.display = dropdown.style.display === 'none' ? 'block' : 'none';
  }

  // Event listener to close the dropdown if clicked outside of it
  window.onclick = function(event) {
      if (!event.target.matches('img[alt="{{ user.username }}"]')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          for (var i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.style.display === 'block') {
                  openDropdown.style.display = 'none';
              }
          }
      }
  }

  function toggleAutoupdate(checkbox) {
  const checked = checkbox.checked;
  document.getElementById('autoupdate-status').textContent = checked ? 'On' : 'Off';
  // Save the preference locally
  localStorage.setItem('autoupdate', checked);

  // Send the state to the server
  fetch('/set-autoupdate-preference', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ autoupdate: checked })
  })
  .then(response => response.json())
  .then(data => {
    console.log(data.message); // Handle any response from the server here
  })
  .catch(error => console.error('Error:', error));
}
 


     
    
function openNoteModal(noteId) {
        // Ensure that the ID passed to the function matches the ID on the modal
        var modal = document.getElementById('note-modal-' + noteId);
        if (modal) {
            modal.style.display = 'block';
        }
    }

    function closeNoteModal(noteId) {
        var modal = document.getElementById('note-modal-' + noteId);
        if (modal) {
            modal.style.display = 'none';
        }
    }
 

</script>
</body>
</html>
