<!-- course_details.html -->
{% extends 'base.html' %}




{% block stylesheets %}

  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/community.css') }}">
{% endblock %}
{% block header %}
Community Notes
{% endblock %}




{% block content %}
<h1 style="text-align:center">Community Notes Search</h1>
    <div id="community-notes">

            <input type="text" id="search-input" placeholder="Search notes by title..." oninput="filterNotes()">

       
        
        <!-- Filter Dropdown -->
<select id="course-filter" onchange="filterNotes()">
    <option value="">Filter By Course</option>
    <option value="Functions">Functions</option>
    <option value="Data">Data Management</option>
    <option value="Chem">Chemistry</option>
    <option value="Bio">Biology</option>
    <option value="Physics">Physics</option>
    <option value="Calculas">Calculas</option>
    <option value="English">English</option>
    <option value="French">French</option>
    <option value="Hist">History</option>
    <option value="Geo">Geography</option>
    <option value="Health">Health</option>
    <option value="Comp">Computer Related</option>
    <option value="Tech">Technology</option>
    <option value="Engineer">Engineering</option>
    <option value="Human">Human Development</option>

    <!-- Add more options as needed -->
</select>
    
        <!-- Container for note previews -->
        <div id="note-previews">
            {% for note in community_notes %}
            <div class="note" data-title="{{ note.title }}" data-course="{{ note.course.name }}">

            <div class="community-note-row"  onclick="openNoteModal('{{ note.id }}');">
                <div class="note-image-container">
                    <!-- Add the onclick event handler to the img tag -->
                    <img class='note-image' src="data:image/jpeg;base64,{{ note.content | b64encode }}" >
                </div>
                <div class="note-details-container">
                    <h3 class="note-title">{{ note.title }}</h3>
                    <p class="note-author">Author: {{ note.course.user.username }}</p>
                    <p class="note-course-code">Course Code: {{ note.course.code }}</p>
                    <p class="note-course-name">Course Name: {{ note.course.name }}</p>
                   
                </div>
            </div>
            <!-- Full-size Modal for each note -->
            <div id="note-modal-{{ note.id }}" style="display:none;" class="modal">
                <div class="note-modal-content">
                    <span class="close" onclick="closeNoteModal('{{ note.id }}');">&times;</span>
                    <h3>{{ note.title }}</h3>
                    <img src="data:image/jpeg;base64,{{ note.content | b64encode }}" style="max-width: 100%; height: auto;">
                </div>
            </div>
        </div>
            {% endfor %}
        </div>
        
              
    
    </div>
       
  <script>
function filterNotes() {
  var searchText = document.getElementById("search-input").value.toLowerCase();
  var selectedCourse = document.getElementById("course-filter").value.toLowerCase();
  var notes = document.getElementsByClassName("note");

  for (var i = 0; i < notes.length; i++) {
    var title = notes[i].getAttribute("data-title").toLowerCase();
    var course = notes[i].getAttribute("data-course").toLowerCase();

    if (title.includes(searchText) && (course.includes(selectedCourse) || selectedCourse === "")) {
      notes[i].style.display = ""; // Show the note if both conditions are met
    } else {
      notes[i].style.display = "none"; // Otherwise, hide the note
    }
  }
}

// Attach the filterNotes function to the search bar input event
document.getElementById("search-input").addEventListener('input', filterNotes);

// Attach the filterNotes function to the course filter change event
document.getElementById("course-filter").addEventListener('change', filterNotes);

   </script>
    {% endblock %}
