<!-- course_details.html -->
{% extends 'base.html' %}




{% block stylesheets %}
    <!-- Specific stylesheet for the course details page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/course_details.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
{% endblock %}
{% block header %}
    {{ course.name }} - {% if course.grade == 0.0 %}No grade yet{% else %}{{ course.grade|round(2) }}%{% endif %}
   
{% endblock %}




{% block content %}


    <!-- Notification Bar -->
    {% if time_left == 0 %}
    <div class="flash-message flash-warning">
        Course is finished!
    </div>
    {% endif %}
    
   
   
    <main class="page-main">
        <div class="tabs">
            <div id="update_grade" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form action="{{ url_for('update_grade', course_id=course.id) }}" method="post">
                        <label for="new_grade">Enter Updated Grade:</label>
                        <input type="text" id="new_grade" name="new_grade" required>
                        <input type="submit" value="Update Grade">
                    </form>
                </div>
            </div>
            <button id="home-tab" class="tab-button" onclick="openCourseTab('home')">Home</button>
            <button id="notes-tab" class="tab-button" onclick="openCourseTab('notes')">Notes</button>
        </div>

    <div id="home" class="course-tab-content">
        <div class="autoupdate-container">
            <input type="checkbox" id="autoupdate-mark" name="autoupdate-mark" onchange="toggleAutoupdate(this)" {{ 'checked' if session.get('autoupdate', True) else '' }}>
            <label class="checkbox-custom" for="autoupdate-mark"></label>
            <label for="autoupdate-mark" id="autoupdate-mark-label">Auto-Update Grade
                <span id="autoupdate-status">{{ 'Off' if not session.get('autoupdate', True) else '' }}</span>
            </label>
          </div>
          <button class='btn' id="update-mark-manually" style="display:none" onclick="show()">Update Mark Manually</button>
<div class="{{ 'goal-status' }} {{
    'goal-reached' if course.grade >= course.goal or course.goal - course.grade <= 0.5 else
    'goal-exceeded' if course.grade > course.goal else
    'goal-pending' if course.grade < course.goal else
    'goal-none' if course.grade == 0.0 }}">
    {% if course.grade == 0.0 %}
        <p>Your goal is {{ course.goal }}%</p>
    {% elif course.grade >= course.goal or course.goal - course.grade <= 0.5 %}
        <p>You are reaching your goal of {{course.goal}}%</p>
    {% elif course.grade > course.goal %}
        <p>You are exceeding your goal of {{course.goal}}% by {{ course.grade - course.goal }}%</p> 
    {% else %}
        <p>{{ (course.goal - course.grade) | round(2) }}% left until your goal of {{course.goal}}%</p>
    {% endif %}
</div>
        
        <section class="course-details">
          

            <div class="section-header">
                <h2>Course Information</h2>
              
                <a href="{{ url_for('edit_course', course_id=course.id) }}" class="btn">Edit Course</a>
            </div>
            
            <div class="info-grid">
              
                <div class="info-item">
                    <label>Code</label>
                    <p>{{ course.code }}</p>
                </div>
                <div class="info-item">
                    <label>Description</label>
                    <p>{{ course.description }}</p>
                </div>
                <div class="info-item">
                    <label>Days left</label>
                    <p>{{ time_left }}</p>
                </div>
               
                <div class="info-item">
                    <label>End Date</label>
                    <p>{{course.end_date.strftime('%B %d, %Y') }}</p>
                </div>
                <div class="info-item">
                    <label>Creation Date</label>
                    {% if course.creation_date is string %}
                    <p>{{ datetime.strptime(course.creation_date, '%Y-%m-%d').date().strftime('%B %d, %Y') }}</p>
                {% else %}
                    <p>{{ course.creation_date.strftime('%B %d, %Y') }}</p>
                {% endif %}

                </div>
                <div class="info-item">
                    <label>Study Goals</label>
                    <div class="study-goals-container">
                 
                        <p style="{% if course['total_study'] - course['time_studied'] <= 0 %}color: green;{% endif %}">
                            Daily Study Goal{% if course['total_study'] - course['time_studied'] <= 0 %} Reached!{% endif %}
                            <span id="total-study">
                                {{ (course['total_study'] // 60) | int }}:{{ '%02d' | format(course['total_study'] % 60) }} minutes
                                <a href="{{ url_for('edit_course', course_id=course.id) }}"><i  id='edit-btn' class="fa fa-edit"></i></a>
                            </span>
                            
                        </p>
                        
                  
                     <!-- Tabs for switching -->
    <div class="tabs">
        <button id="studied-btn" class="tab-button" onclick="openTab('studied')">Time Studied</button>
        <button id="left-btn" class="tab-button" onclick="openTab('left')">Time Left</button>
    </div>
              
                       <!-- Tab content --> 
    <div id="studied" class="tab-content">
        <p>Studied:
            <span id="time-studied">{{ (course['time_studied'] // 60) | int }}:{{ '%02d' | format(course['time_studied'] % 60) }}</span>
        </p>
    </div>
    <div id="left" class="tab-content" style="display:none;">
        <p>Time left:
            <span id="time-left">
                {% if course['total_study'] >= course['time_studied'] %}
                    {{ ((course['total_study'] - course['time_studied']) // 60) | int }}:{{ '%02d' | format((course['total_study'] - course['time_studied']) % 60) }}
                {% else %}
                    0:00
                {% endif %}
            </span>
        </p>
    </div>
                    </div>
                    {% if 'user_id' in session %}
                    <button class="study-button" id="user-study-button" data-course-id="{{ course.id }}" data-time-left="{{ course['total_study']-course['time_studied']}}" data-time-studied="{{ course['time_studied'] }}">Start/Resume studying</button>

    {% else %}                

<form action="{{ url_for('update_study_times', course_id=course.id) }}" method="post" id="study-form">
    <input type="hidden" name="time_studied" id="time-studied" value="your_value_here" />
    <button class="study-button" type="submit" >Start studying</button>
</form>

{% endif %}
                </div>
                

        </div>
            <hr class="section-separator">
            <!-- Assessments Table -->
           
<div class="assessments-section">
    <h3>Assessments</h3>
    <a href="{{ url_for('add_assessment', course_id=course.id) }}" class="btn">+ Add Assessment</a>

    <div class="scores-container">
        <p>Course Work Score: {{ courses_score }}</p>
        {% if finals_score != '0/0' %}
        <p>Finals Score: {{ finals_score }}</p>
        {% endif %}
    </div>
    

    
    
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mark</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="starting-score">Starting Score   <a href="{{ url_for('edit_course', course_id=course.id) }}"><i  id='edit-btn' class="fa fa-edit"></i></a></td>
                        <td>{{ (course.starting_marks * course.starting_grade) / 100 }} / {{ course.starting_marks }}</td>
                        {% if course.creation_date is string %}
    <td>{{ datetime.strptime(course.creation_date, '%Y-%m-%d').date().strftime('%B %d, %Y') }}</td>
{% else %}
    <td>{{ course.creation_date.strftime('%B %d, %Y') }}</td>
{% endif %}

                    </tr>
                    {% for assessment in course.assessments %}
                    <tr>
                        <td style="width:10px">
                            <div class="assessment-container">
                              
                                
                               
                                <div class="assessment-name" style="{% if assessment.weight %}color: blue;{% endif %}">
                                    {{ assessment.name }} 
                                    {% if assessment.weight %}
                                        {{assessment.weight*100}}%
                                    {% endif %}
                                </div>
                                <div id="menu-{{ assessment.id }}" class="menu" >
                                    <a href="{{ url_for('edit_assessment', course_id=course.id, assessment_id=assessment.id) }}"><i class="fas fa-edit"></i></a>
                                    <a href="javascript:void(0);" onclick="submitDeleteForm('delete-form-{{ assessment.id }}')"><i class="fa fa-trash"></i></a>
                                    <form id="delete-form-{{ assessment.id }}" action="{{ url_for('delete_assessment', course_id=course['id'], assessment_id=assessment['id']) }}" method="post" style="display: none;">
                                        <input type="hidden" name="_method" value="DELETE">
                                    </form>
                                </div>
                          
                            </div>
                        </td>
                        <td>{{ assessment.earned }} / {{ assessment.total }}</td>
                        <td>{{ assessment.date.strftime('%B %d, %Y') }}</td>
                    </tr>
                {% endfor %}
             
                    <tr class="total-row">
                        <td>Total</td>
                        <td>{{ ((course.total_marks * course.grade) / 100 )|round(1)}} / {{ course.total_marks }}</td>
                        <td></td>  <!-- Empty cell in the Date column -->
                    </tr>
                </tbody>
            </table>
            
        </section>
    </div>
</div>
<div class="course-tab-content" id="notes">
<!-- Plus button for adding notes -->
<button id="add-note-button" class="add-note-button" onclick="openNoteInputModal();">
    <i class="fas fa-plus"></i>
</button>

<!-- Modal for note upload -->
<div id='note-input-modal' class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="closeNoteInputModal();">&times;</span>
        <form action="{{ url_for('upload_note',course_id=course.id) }}" method="post" enctype="multipart/form-data">
            <label for="note-title">Note Title:</label>
            <input type="text" name="note-title" id='note-title' required>
            <label for="note_file">Upload File:</label>
            <input type="file" name="note_file" required>
            <input type="submit" value="Upload Note">
        </form>
    </div>
</div>

<div id="document-previews">
    {% for note in course.notes %}
        <div class="note-container" onclick="openNoteModal('{{ note.id }}');">
            <h3>{{ note.title }}</h3>
            <img class='note' src="data:image/jpeg;base64,{{ note.content | b64encode }}">
        </div>

        <!-- Modal for each note -->
        <div id="note-modal-{{ note.id }}" class="note-modal" style="display: none;">
            <div class="note-modal-content">
                <span class="close" onclick="closeNoteModal('{{ note.id }}');">&times;</span>
                <h3>{{ note.title }}</h3>
                <img src="data:image/jpeg;base64,{{ note.content | b64encode }}" style="max-width: 100%; height: auto;">
            </div>
        </div>
    {% endfor %}
</div>



</div>
    
    </main>

    {% block extrascripts %}<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>{% endblock %}
  
<script>let studyInterval = null;
    let saveInterval = null;
    
 
    const studyButton = document.getElementById('user-study-button');
    let timeLeft = parseInt(studyButton.getAttribute('data-time-left'), 10);
    let timeStudied = parseInt(studyButton.getAttribute('data-time-studied'), 10);
    const timeLeftDisplay = document.getElementById('time-left');
    const timeStudiedDisplay = document.getElementById('time-studied');
    // const timeStudiedSecondsDisplay = document.getElementById('time-studied-seconds');
    const courseId = studyButton.getAttribute('data-course-id');
    
    function updateStudyTimes(courseId, timeStudied) {
        fetch(`/course/${courseId}/update_study_times`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ time_studied: timeStudied })
        })
        .catch(error => console.error('Error:', error));
    }
    function padToTwo(number) {
    return number.toString().padStart(2, '0');
    }
    
    studyButton.addEventListener('click', function() {
        let isStudying = studyButton.getAttribute('data-studying') === 'true';
        isStudying = !isStudying;
        studyButton.setAttribute('data-studying', isStudying.toString());
    
        if (isStudying) {
            if (studyInterval) clearInterval(studyInterval);
            if (saveInterval) clearInterval(saveInterval);
            studyButton.textContent = 'Stop studying';
            studyButton.style.backgroundColor='#ff2338'
    
            // Clear existing intervals if any
            studyInterval = setInterval(() => {
    timeStudied += 1;
    if (timeLeft > 0) {
        timeLeft -= 1;
        timeLeftDisplay.textContent = Math.floor(timeLeft / 60) + ':' + padToTwo(timeLeft % 60);
    
    } else {
        timeLeftDisplay.textContent = "0:00";
    }
    timeStudiedDisplay.textContent = Math.floor(timeStudied / 60) + ':' + padToTwo(timeStudied % 60);
     
            }, 1000);
    
            // Save the study time every minute
            saveInterval = setInterval(() => {
                updateStudyTimes(courseId, timeStudied);
            }, 60000); // 60000ms = 1 minute
    
        } else {
            clearInterval(studyInterval);
            clearInterval(saveInterval);
            updateStudyTimes(courseId, timeStudied); // Save when stopping
            studyButton.textContent = 'Start/Resume studying';
            studyButton.style.backgroundColor='#218838'
           
        }
    });
    
    // Save the study time when leaving the page
    window.addEventListener('beforeunload', function() {
        clearInterval(studyInterval);
        clearInterval(saveInterval);
        updateStudyTimes(courseId, timeStudied);
    });
  

function submitDeleteForm(formId) {
var confirmation = confirm('Are you sure you want to delete this assessment? ');
if (confirmation) {
    document.getElementById(formId).submit();
}
}
function show() {
var update_grade = document.getElementById('update_grade');
update_grade.style.display = 'block';
}

// Close the modal when user clicks on <span> (x)
document.querySelector(".close").addEventListener("click", function() {
document.getElementById('update_grade').style.display = "none";
});

// Close the modal when user clicks outside of it
window.addEventListener('click', function(event) {
var modal = document.getElementById('update_grade');
if (event.target == modal) {
    modal.style.display = "none";
}
});

function toggleMenu(menuId) {

// Toggle the clicked menu
var menu = document.getElementById(menuId);
menu.style.display = menu.style.display === 'none' ? 'block' : 'none';
// Close any open menus
var dropdowns = document.getElementsByClassName("dropdown-content");
for (var i = 0; i < dropdowns.length; i++) {
    var openDropdown = dropdowns[i];
    if (openDropdown.id !== menuId && openDropdown.style.display === 'block') {
        openDropdown.style.display = 'none';
    }
}

}



// Define studyInterval and saveInterval as global variables
openTab('left')

function openTab(tabName) {
var i, tabcontent, tabbuttons;
tabcontent = document.getElementsByClassName("tab-content");
for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
}
tabbuttons = document.getElementsByClassName("tab-button");
for (i = 0; i < tabbuttons.length; i++) {
    tabbuttons[i].classList.remove("active-tab");
}
document.getElementById(tabName).style.display = "block";
document.getElementById(tabName + "-btn").classList.add("active-tab");
}

// Initial default active tab

function openCourseTab(tabName) {
    var i, tabcontent, tabbuttons;
    tabcontent = document.getElementsByClassName("course-tab-content");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tabbuttons = document.getElementsByClassName("tab-button");
    for (i = 0; i < tabbuttons.length; i++) {
        tabbuttons[i].classList.remove("active-tab");
    }
    var tabContent = document.getElementById(tabName);
    var tabButton = document.getElementById(tabName + "-tab");
    if (tabContent) {
        tabContent.style.display = "block";
    }
    if (tabButton) {
        tabButton.classList.add("active-tab");
    }
}

// Initialize with the Home tab open
openCourseTab('home');


function openNoteInputModal() {
    document.getElementById('note-input-modal').style.display = 'block';
}

function closeNoteInputModal() {
    document.getElementById('note-input-modal').style.display = 'none';
}

function openNoteModal(noteId) {
    document.getElementById('note-modal-' + noteId).style.display = 'block';
}

function closeNoteModal(noteId) {
    document.getElementById('note-modal-' + noteId).style.display = 'none';
}



    </script>
{% endblock %} 