<!-- course_details.html -->
{% extends 'base.html' %}



{% block stylesheets %}
    <!-- Specific stylesheet for the course details page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/course_details.css') }}">
{% endblock %}
{% block header %}{{ course.name }} - {{course.grade |round(2)}}%{% endblock %}


{% block content %}

    <!-- Notification Bar -->
    {% if time_left == 0 %}
    <div class="flash-message flash-warning">
        Course is finished!
    </div>
    {% endif %}

   

    <main>
        <section class="course-details">
            <div class="section-header">
                <h2>Course Information</h2>
                <a href="{{ url_for('add_assessment', course_id=course.id) }}" class="add-btn">+ Add Assessment</a>
                <!-- <a href="{{ url_for('add_assessment', course_id=course.id) }}" class="add-btn">+ Add Grade Section</a> -->
            </div>
            
            <div class="info-grid">
                <div class="info-item">
                    <label>Code</label>
                    <p>{{ course.code }}</p>
                </div>
                <div class="info-item">
                    <label>Description</label>
                    <p>{{ course.description }}</p>
                </div>
                <div class="info-item">
                    <label>Days left</label>
                    <p>{{ time_left }}</p>
                </div>
                <div class="info-item">
                    <label>End Date</label>
                    <p>{{course.end_date.strftime('%B %d, %Y') }}</p>
                </div>
            </div>

            <!-- Assessments Table -->
            <h3>Assessments</h3>
            <p><strong>Starting Score:</strong> {{ (course.starting_marks * course.starting_grade) / 100 }} / {{ course.starting_marks }}</p>
    
            {% if course.assessments|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mark</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assessment in course.assessments %}
                    <tr>
                        <td>{{ assessment.name }}</td>
                        <td>{{ assessment.earned }} / {{ assessment.total }}</td>
                        <td>{{ assessment.date.strftime('%B %d, %Y') }}</td>
                    </tr>
                    {% endfor %}
                    <!-- Total row -->
                    <tr class="total-row">
                        <td>Total</td>
                        <td>{{ (course.total_marks * course.grade) / 100 }} / {{ course.total_marks }}</td>
                        <td></td>  <!-- Empty cell in the Date column -->
                    </tr>
                </tbody>
            </table>
            {% else %}
            <p>No assessments yet!</p>
            {% endif %}
        </section>
    </main>
{% endblock %}
