<!-- course_details.html -->
{% extends 'base.html' %}



{% block stylesheets %}
    <!-- Specific stylesheet for the course details page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/course_details.css') }}">
{% endblock %}
{% block header %}
    {{ course.name }} - {% if course.grade == 0.0 %}No grade yet{% else %}{{ course.grade|round(2) }}%{% endif %}
{% endblock %}


<button onclick="show()">Update Mark Manually</button>
{% block content %}

    <!-- Notification Bar -->
    {% if time_left == 0 %}
    <div class="flash-message flash-warning">
        Course is finished!
    </div>
    {% endif %}

   
    <div id="update_grade" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="{{ url_for('update_grade', course_id=course.id) }}" method="post">
                <label for="new_grade">Enter Updated Grade:</label>
                <input type="text" id="new_grade" name="new_grade" required>
                <input type="submit" value="Update Grade">
            </form>
        </div>
    </div>
    <main>
        <button onclick="show()">Update Mark Manually</button>

        <section class="course-details">
            {% if course.grade == 0.0 %}
            <p>Your goal is {{ course.goal }}</p>
        {% elif course.grade == course.goal %}
            <p>You are reaching your goal</p>
        {% elif course.grade>course.goal %}
        <p>You are exceeding your goal by {{course.grade-course.goal}}%</p> 
        {% else %}
            <p>{{ (course.goal-course.grade)|round(2)}}% left until your goal</p>
        {% endif %}

            <div class="section-header">
                <h2>Course Information</h2>
              
                <a href="{{ url_for('edit_course', course_id=course.id) }}" class="btn">Edit Course</a>
            </div>
        
            <div class="info-grid">
              
                <div class="info-item">
                    <label>Code</label>
                    <p>{{ course.code }}</p>
                </div>
                <div class="info-item">
                    <label>Description</label>
                    <p>{{ course.description }}</p>
                </div>
                <div class="info-item">
                    <label>Days left</label>
                    <p>{{ time_left }}</p>
                </div>
                <div class="info-item">
                    <label>End Date</label>
                    <p>{{course.end_date.strftime('%B %d, %Y') }}</p>
                </div>
                <div class="info-item">
                    <label>Creation Date</label>
                    <p>{{course.creation_date.date().strftime('%B %d, %Y') }}</p>
                </div>
                <div class="info-item">
                    <label>Study Goals</label>
                    <p>Daily Study Goal:
                        <span id="total-study">{{ (course.total_study // 60) | int }}</span>:
                        <span id="total-study-seconds">{{ '%02d' | format(course.total_study % 60) }}</span>
                    </p>
                    <p>Studied: 
                        <span id="time-studied">{{ (course.time_studied // 60) | int }}:{{ '%02d' | format(course.time_studied % 60) }}</span>
                    </p>
                    <p>Time left:  
                        <span id="time-left">
                            {% if course.total_study >= course.time_studied %}
                                {{ ((course.total_study - course.time_studied) // 60) | int }}:{{ '%02d' | format((course.total_study - course.time_studied) % 60) }}
                            {% else %}
                                0:00
                            {% endif %}
                        </span>
                    </p>
                    

                    <button id="study-button" data-course-id="{{ course.id }}" data-time-left="{{ course.total_study-course.time_studied}}" data-time-studied="{{ course.time_studied }}">Start/Resume studying</button>

                </div>
                

        </div>
            <hr class="section-separator">
            <!-- Assessments Table -->
           
<div class="assessments-section">
    <h3>Assessments</h3>
    <a href="{{ url_for('add_assessment', course_id=course.id) }}" class="btn">+ Add Assessment</a>

    <div class="scores-container">
        <p>Course Work Score: {{ courses_score }}</p>
        {% if finals_score != '0/0' %}
        <p>Finals Score: {{ finals_score }}</p>
        {% endif %}
    </div>
    

    
    
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Starting Score <img alt="edit" src="./images/edit_icon.png"></td>
                        <td>{{ (course.starting_marks * course.starting_grade) / 100 }} / {{ course.starting_marks }}</td>
                        <td>{{ course.creation_date.date().strftime('%B %d, %Y') }}</td>

                    </tr>
                    {% for assessment in course.assessments %}
                    <tr>
                        <td style="width:10px">
                            <div class="assessment-container">
                              
                                <div id="menu-{{ assessment.id }}" class="dropdown-content">
                                    <a href="{{ url_for('edit_assessment', course_id=course.id, assessment_id=assessment.id) }}">Edit</a>
                                    <a href="javascript:void(0);" onclick="submitDeleteForm('delete-form-{{ assessment.id }}')">Delete</a>
                                    <form id="delete-form-{{ assessment.id }}" action="{{ url_for('delete_assessment', course_id=course['id'], assessment_id=assessment['id']) }}" method="post" style="display: none;">
                                        <input type="hidden" name="_method" value="DELETE">
                                    </form>
                                </div>
                               
                                <div class="assessment-name" style="{% if assessment.weight %}color: blue;{% endif %}">
                                    {{ assessment.name }} 
                                    {% if assessment.weight %}
                                        {{assessment.weight*100}}%
                                    {% endif %}
                                </div>
                                <div class="kebab-menu" onclick="toggleMenu('menu-{{ assessment.id }}')">...</div>
                          
                               
                            </div>
                        </td>
                        <td>{{ assessment.earned }} / {{ assessment.total }}</td>
                        <td>{{ assessment.date.strftime('%B %d, %Y') }}</td>
                    </tr>
                {% endfor %}
             
                    <tr class="total-row">
                        <td>Total</td>
                        <td>{{ ((course.total_marks * course.grade) / 100 )|round(1)}} / {{ course.total_marks }}</td>
                        <td></td>  <!-- Empty cell in the Date column -->
                    </tr>
                </tbody>
            </table>
            
        </section>
    </div>
    </main>

    <script type="text/javascript">
        // JavaScript to open the modal
function show() {
    var update_grade = document.getElementById('update_grade');
    update_grade.style.display = 'block';
}

// Close the modal when user clicks on <span> (x)
document.querySelector(".close").addEventListener("click", function() {
    document.getElementById('update_grade').style.display = "none";
});

// Close the modal when user clicks outside of it
window.addEventListener('click', function(event) {
    var modal = document.getElementById('update_grade');
    if (event.target == modal) {
        modal.style.display = "none";
    }
});

function toggleMenu(menuId) {

    // Toggle the clicked menu
    var menu = document.getElementById(menuId);
    menu.style.display = menu.style.display === 'none' ? 'block' : 'none';
    // Close any open menus
    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.id !== menuId && openDropdown.style.display === 'block') {
            openDropdown.style.display = 'none';
        }
    }

}

// Close the dropdown if the user clicks outside of it
window.addEventListener('click', function(event) {
    if (!event.target.matches('.kebab-menu')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.style.display === 'block') {
                openDropdown.style.display = 'none';
            }
        }
    }
});function submitDeleteForm(formId) {
    var confirmation = confirm('Are you sure you want to delete this assessment?');
    if (confirmation) {
        document.getElementById(formId).submit();
    }
}
// Define studyInterval and saveInterval as global variables
let studyInterval = null;
let saveInterval = null;

document.addEventListener('DOMContentLoaded', function() {
    const studyButton = document.getElementById('study-button');
    let timeLeft = parseInt(studyButton.getAttribute('data-time-left'), 10);
    let timeStudied = parseInt(studyButton.getAttribute('data-time-studied'), 10);
    const timeLeftDisplay = document.getElementById('time-left');
    const timeStudiedDisplay = document.getElementById('time-studied');
    // const timeStudiedSecondsDisplay = document.getElementById('time-studied-seconds');
    const courseId = studyButton.getAttribute('data-course-id');

    function updateStudyTimes(courseId, timeStudied) {
        fetch(`/course/${courseId}/update_study_times`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ time_studied: timeStudied })
        })
        .catch(error => console.error('Error:', error));
    }
    function padToTwo(number) {
    return number.toString().padStart(2, '0');
}

    studyButton.addEventListener('click', function() {
        let isStudying = studyButton.getAttribute('data-studying') === 'true';
        isStudying = !isStudying;
        studyButton.setAttribute('data-studying', isStudying.toString());

        if (isStudying) {
            if (studyInterval) clearInterval(studyInterval);
            if (saveInterval) clearInterval(saveInterval);
            studyButton.textContent = 'Stop studying';
            studyButton.style.backgroundColor='#ff2338'

            // Clear existing intervals if any
            studyInterval = setInterval(() => {
    timeStudied += 1;
    if (timeLeft > 0) {
        timeLeft -= 1;
        timeLeftDisplay.textContent = Math.floor(timeLeft / 60) + ':' + padToTwo(timeLeft % 60);

    } else {
        timeLeftDisplay.textContent = "You have reached your daily study goal!";
    }
    timeStudiedDisplay.textContent = Math.floor(timeStudied / 60) + ':' + padToTwo(timeStudied % 60);
     
            }, 1000);

            // Save the study time every minute
            saveInterval = setInterval(() => {
                updateStudyTimes(courseId, timeStudied);
            }, 60000); // 60000ms = 1 minute

        } else {
            clearInterval(studyInterval);
            clearInterval(saveInterval);
            updateStudyTimes(courseId, timeStudied); // Save when stopping
            studyButton.textContent = 'Start/Resume studying';
            studyButton.style.backgroundColor='#218838'
           
        }
    });

    // Save the study time when leaving the page
    window.addEventListener('beforeunload', function() {
        clearInterval(studyInterval);
        clearInterval(saveInterval);
        updateStudyTimes(courseId, timeStudied);
    });
});

</script>

{% endblock %}