<!-- dashboard.html -->
{% extends 'base.html' %}

{% block title %}Courses Dashboard{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block header %}Courses Dashboard{% endblock %}

{% block content %}
    {% if user %}
    <div id="user-info">
   
        <img src="{{ user.profile_pic_url | default('/path/to/default/profile/pic.png') }}" alt="{{ user.username }}" width="50" height="50">
        <span>{{ user.username }}</span>
    </div>
    {% endif %}
    
    <section class="courses-list">
        <h2>Your Courses</h2>
        <ul>
            {% for course in courses %}
                <li><a href="{{ url_for('course_details', course_id=course.id) }}">{{ course.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
    
    <a href="{{ url_for('create_course') }}" class="btn">Add Course</a>
{% endblock %}
