<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Genius</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <nav >
        <div class="left-nav">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Grade Genius Logo" style="height:50px; border-radius:5px;margin-right: 20px;" class="logo">
            <h1>Grade Genius</h1>
           
        </div>
        <div class="right-nav">
            <a href="/community" class="nav-button">Community Notes</a>
            <a href="/course/create" class="nav-button">Add Course</a>
            <a href="/dashboard" class="nav-button">Dashboard</a>
            {% if user %}
            <!-- Profile Picture with onClick event to toggle dropdown -->
            <div style="text-align: center;" >
              <img src="{{ url_for('static',filename='images/profile_pic.png') }}" alt="{{ user.username }}" width="50" height="50" style="display: block; margin: auto;">
              <span style="display: block;">{{ user.username }}</span>
           </div>

              
        {% else %}
            <a href="{{ url_for('signup') }}" id='login-btn' >Login / Signup</a>
        {% endif %}
        </div>
    </nav>
  
     <div class="centered-container">
        <div class="header-content">
            <h1 class="title">Grade Genius</h1>
            <p class="slogan">The Peak of Course Management</p>
        </div>
        <div class="button-container">
            <a href="{{ url_for('community') }}" class="explore-button">View Community Notes</a>
            <a href="{{ url_for('dashboard') }}" class="explore-button">Try Now</a>
        </div>
    </div>


    
    <footer>
        <p>&copy; 2023 Grade Genius. All rights reserved. Made by Joshua Chou.</p>
    </footer>
   
</body>
</html>
