<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Genius</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <nav >
        <div class="left-nav">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Grade Genius Logo" class="logo">
            <h1>Grade Genius</h1>
           
        </div>
        <div class="right-nav">
            <a href="/course/create" class="nav-button">Add Course</a>
            <a href="/dashboard" class="nav-button">Dashboard</a>
            <a href="/login" id='login-btn' class="nav-button">Login / Signup</a>
        </div>
    </nav>
    <p class="slogan">The Peak of Course Management</p>

    <div class="button-container">
        <a href="{{ url_for('dashboard') }}" class="explore-button">Try Now</a>
    </div>

    <footer>
        <p>&copy; 2023 Grade Genius. All rights reserved. Made by Joshua Chou.</p>
    </footer>
</body>
</html>
